[user]
	email = 81510507+Adamocho@users.noreply.github.com
	name = Adamocho

# Other possible Git configurations.
# - Set the default editor (nano, VS Code, vim, etc.)
# - Customize color output
# - Create aliases (shortcuts for Git subcommands)
# - Add enpoint shortcuts for commonly used URLs
