[user]
	email = 81510507+Adamocho@users.noreply.github.com
	name = Adam Oller

[push]
	default = simple

[init]
	defaultBranch = master

[core]
	# editor = vim
	# After installing the 'code' command in PATH
	editor = code --wait

# Other possible Git configurations.
# - Set the default editor (nano, VS Code, vim, etc.)
# - Customize color output
# - Create aliases (shortcuts for Git subcommands)
# - Add enpoint shortcuts for commonly used URLs
